@model IEnumerable<LearningSystem.Models.Comment>

@{
    ViewBag.Title = "Admin Panel";
}

<h2>Comment Admin Panel</h2>

<div class="row">

    <div class="col-md-2 title">
        @Html.DisplayNameFor(model => model.Author.FullName)
    </div>
    <div class="col-md-2">
        @Html.DisplayNameFor(model => model.StudyMaterial.Title)
    </div>
    <div class="col-md-4">
        @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="col-md-2">
        @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="col-md-2">
        Admin panel
    </div>
</div>       
<br />
@foreach (var item in Model) {
    <div class="row">
        <div class="col-md-2" style="word-wrap: break-word">
            @Html.DisplayFor(modelItem => item.Author.FullName)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.StudyMaterial.Title)
        </div>
        <div class="col-md-4" style="word-wrap: break-word">
            @Html.DisplayFor(modelItem => item.Content)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.Date)
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
        </div>
    </div>
    <br />
}

