
@using LearningSystem.ViewModels.Home
@model IList<LearningSystem.ViewModels.Home.MostVotedMaterialsViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="text-center">
        <p class="lead">
            Prepare for
        </p>
        <h1 style="font-size: 3.5em;">
            Microsoft Technology Associate
        </h1>
        <p class="lead">
            Developer certification - Software Development Fundamentals
        </p>
        <h3>
            Exam 98-361
        </h3>
        @if (!Request.IsAuthenticated)
        {
        <p>
            <a href="#">Login</a> or <a href="#">Register</a> to get started.
        </p>
        }
    </div>

    <p class="text-right">
        <a href="https://www.microsoft.com/en-us/learning/exam-98-361.aspx" class="btn btn btn-lg text-center" target="blank"> Microsoft Official Website</a>
    </p>
    <p class="text-right">
        <a href="/Certification/Info" class="btn btn-primary btn"> Exam Details &raquo;</a>

    </p>
</div>


    <h2>Most popular study materials</h2>
    <div class="row">
        @foreach (var t in Model)
        {
            <div class="col-md-3">
                <h3>@t.MaterialTitle</h3>
                <div><strong>Section:</strong> @t.SectionName</div>
                <div><em>Author:</em> @t.AuthorName</div>
                <div><em>Votes: </em> @t.NumberOfVotes</div>
                <p>@t.MaterialContent ...</p>
                <a href="/StudyMaterial/Details/@t.Id" class="btn btn-primary">Read more</a>
            </div>
        }
    </div>


