@using LearningSystem.ViewModels.Comments
@model LearningSystem.ViewModels.Study.StudyMaterialViewModel
@{
    ViewBag.Title = @Model.Title;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@Model.Title</h2>
        </div>

        <br />

        <div class="col-md-12">
            
            @if (Model.ImageId != null)
            {
                <p>@Model.ImageId</p>
                <img src="@Url.Action("Image", "StudyMaterial", new {id = Model.ImageId.Value})" alt="@Model.Title"/>
            }

        </div>

        <div class="row">
            <div class="col-md-3">
                Author: @Model.AuthorName
            </div>

            <div class="col-md-3">
                Source: @Model.Source
            </div>

            <div class="col-md-3">
                Section: @Model.SectionName
            </div>
        </div>

        <br/> <br />

        <div class="col-md-12">
            <div>@Model.Content</div>
        </div>

        <br />

        <div class="col-md-12">
            @if (User.Identity.IsAuthenticated)
            {
               @Html.Partial("_PostCommentPartial", new PostCommentViewModel(Model.Id))
                
            }
        </div>

        <div class="col-md-12">
                Comments:
         </div>

        <div id="comments">
            
            @foreach (var comment in @Model.Comments)
            {
                @Html.Partial("../Comments/_CommentPartial", comment)
            }
        </div>
               

    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")


}